@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans&display=swap');

#app {
  max-width: 100%;
  background-color: #deb87a;
  margin: 0 auto;
  font-weight: normal;
  color: black;
  font-family: 'Winky Sans', sans-serif;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}